@page
@model ProiectMedii.Pages.Accomodations.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cazari</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accomodation.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accomodation.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accomodation.RatersCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accomodation.RatersCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accomodation.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accomodation.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accomodation.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accomodation.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accomodation.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accomodation.Category.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Accomodation.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
