@page
@model ProiectMedii.Pages.Accomodations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Cazari</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Accomodation[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accomodation[0].RatersCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accomodation[0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accomodation[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accomodation[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Accomodation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatersCount)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
